---
import Nav from '../components/Nav.astro';
---

<header>
    <h1>JCCC Web Development and Digital Media</h1>
    <nav>
    <Nav></Nav>
    </nav>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>