<b>
    <a href="/">Home</a> &nbsp; &nbsp;
    <a href="/tracks/">Tracks</a> &nbsp; &nbsp;
    <a href="/faculty/">Faculty</a> &nbsp; &nbsp;
    <a href="/contact/">Contact</a> &nbsp; &nbsp;
</b>

<style>
    a {
        font-size: 2rem;
    }
</style>